.__gradient-bg {
  /* background: linear-gradient(rgb(32 32 32), rgb(82 82 82)); */
  padding: 0.5rem;
  border: 1px solid rgb(69, 69, 69);
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.__notification-dot::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, -10%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
