.__sidebar {
  width: 100%;
  transition: 300ms;
}

input {
  outline: 0;
  border: 0;
}

::-webkit-scrollbar {
  @apply w-2 h-2 duration-300;
}
.hide-scroll::-webkit-scrollbar {
  @apply hidden;
}
::-webkit-scrollbar-track {
  @apply bg-neutral-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 rounded-sm cursor-move;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500 rounded-sm cursor-move;
}
